@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500");
body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0; }

a {
  transition: 0.3s all ease;
  text-decoration: none; }

li {
  list-style-type: none; }

ul {
  padding: 0;
  margin: 0; }

.container {
  max-width: 1140px;
  /*использовать миксины медиазапросв тут вдальнейшем?*/
  margin: 0 auto;
  padding: 0 10px; }

.icon-svg {
  height: 24px;
  width: 24px; }

.navbar {
  margin: 0; }
  .navbar__item {
    display: inline;
    margin-left: 10px; }
  .navbar__link {
    letter-spacing: 1px;
    color: #737373; }
    .navbar__link:hover {
      color: #f89d13; }

.dropdown-menu {
  display: none; }

.logo__svg {
  width: inherit;
  height: inherit; }

.soc__list {
  display: flex; }

.soc__item {
  margin-right: 30px; }

.soc__logo {
  height: 20px; }

.title {
  font-size: 40px;
  color: #fff;
  margin: 0; }

.text {
  color: #737373;
  margin: 0;
  line-height: 27px; }
  .text_little {
    font-size: 12px; }

.menu__link {
  line-height: 35px;
  font-weight: 200;
  color: #ffffff80; }
  .menu__link:hover {
    color: #fff; }

.row {
  display: flex;
  flex-wrap: wrap; }
  .row__item-2 {
    flex: 1 0 50%;
    box-sizing: border-box; }
  .row__item-3 {
    flex: 0 0 33.333333%;
    box-sizing: border-box; }
  .row__item-4 {
    flex: 1 0 25%;
    box-sizing: border-box; }
  .row__start {
    justify-content: flex-end; }
  .row__center {
    justify-content: center; }
  .row__spbw {
    justify-content: space-between; }
  .row__spad {
    justify-content: space-around; }

.card {
  box-sizing: border-box;
  background: #fff; }
  .card__title {
    display: block;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: #fff; }
    .card__title_normal {
      margin-bottom: 0;
      color: #f89d13;
      font-size: 20px; }
  .card__body {
    padding: 20px 20px 40px; }
    .card__body_little {
      padding: 0; }
  .card__img {
    max-width: 100%; }
  .card_transparent {
    background: transparent; }

.link {
  color: #f89d13; }
  .link:hover {
    color: #de8807; }

.btn {
  display: inline-block;
  background: #fff;
  border: solid 1px #e6e6e6;
  margin: 5px;
  text-align: center; }
  .btn_secondary {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px; }

.pagination {
  display: inline-flex;
  align-items: center; }
  .pagination__item {
    width: 50px;
    line-height: 50px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    margin: 0 10px; }
    .pagination__item_active {
      border: 1px solid transparent;
      background: #f89d13;
      color: #fff; }
    .pagination__item:hover {
      box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1);
      border: 1px solid #cccccc; }

.breadcrumb {
  display: flex; }
  .breadcrumb__separator {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #fff;
    margin: auto 0; }
  .breadcrumb__item {
    margin: 10px; }
    .breadcrumb__item_active {
      font-weight: 700;
      color: #fff; }

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__contacts {
  font-size: 14px;
  color: #f89d13;
  margin-right: 15px; }
  .header__contacts:hover {
    color: #de8807; }

.header__logo {
  width: 130px;
  height: 35px; }

.header__top {
  border-bottom: 1px solid #f2f2f2;
  padding: 5px 0; }

.header__bottom {
  padding: 25px 0; }

.header__item {
  margin-left: 10px; }

.page-title {
  position: relative;
  background: url(../../../img/hero_bg_2.jpg);
  z-index: 0; }
  .page-title__conatiner {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .page-title__conatiner::before {
      z-index: -1;
      position: absolute;
      content: "";
      height: inherit;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.4); }

.blog {
  background: #f9f9f9;
  padding-bottom: 30px; }
  .blog__card {
    margin: 40px 20px 0; }
  .blog__pagination {
    margin: 50px auto 30px; }

.footer {
  background: #333333;
  padding: 100px 0; }
  .footer__subtitle {
    position: relative;
    letter-spacing: 2.6px; }
    .footer__subtitle::before {
      content: "";
      background: #fff;
      width: 40px;
      height: 2px;
      position: absolute;
      bottom: 0; }
  .footer__item {
    padding: 0 10px;
    box-sizing: border-box; }

/*# sourceMappingURL=maps/main.css.map */
